@{
    ViewData["Title"] = "Comentarios por Libros";
}
@using System.Collections.Generic
<link rel="stylesheet" type="text/css" href="~/css/style.css" />

<div class="bg-dark text-white p-4">
    <h1 class="text-center">@Html.DisplayName("Comentarios por Libros")</h1>
    <p class="text-muted text-center">
        Seleccione el autor → Seleccione el libro → Se muestran los comentarios existentes → Adicione un nuevo comentario
    </p>
</div>

<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>
<br />

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Autor: @ViewData["NombreAutor"]</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title">Seleccione el Libro del autor</h5>

            <div class="list-group">
                @{
                    var libros = ViewData["LibrosDelAutor"] as List<dynamic>;
                    if (libros != null)
                    {
                        foreach (var libro in libros)
                        {
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                               @libro.nombre
                                @Html.ActionLink("Selecciona", "DetallesLibro", "Libros",
                                     new { idLibro = libro.id },
                                     new { @class = "btn btn-primary btn-sm" })
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
